body {
    background-color: #1f2937;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    padding: 32px;
    display: flex;
}

/* Header */

.container {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    font-size: 24px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    flex-direction: row;
    gap: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
    margin-right: auto;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

/* Section 1 */

.intro, .heading1, .brief-text, .image, .hero   {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} 

.hero {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.brief-text {
    flex-wrap: wrap;
    padding-left: 150px;
    justify-content: flex-start;
    font-size: 24px;
    color: #f9faf8;
}

.heading1 {
    padding-left: 150px;
}

.image {
    max-width: 33%;
    max-height: 300px;
    align-items: flex-end;
}

.


/*Section 3*/
.inspirational {
    display: flex;
    flex: 1 1 auto;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 16px;
}

.boxes {
    display: flex;
    flex:auto;
    max-width: 150px;
    max-height: 150px;
}

