body {
    background-color: #1f2937;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    padding: 32px;
}

.container {
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    font-size: 24px;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    flex-direction: row;
    gap: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
    margin-right: auto;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: end;
    
}

.intro {
    display: flex;
    flex:auto;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 28px;
    align-items:flex-start;

}

.brief-text {
    flex:auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #f9faf8;
}

.heading1 {
    display:flex;
    flex-direction: column;
    padding: 48px;
    flex:auto;

}

img {
    display:flex;
    flex:auto;
    max-width: 475px;
    max-height: 475px;
    
}



.inspirational {
    display: flex;
    flex: 1 1 auto;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    padding: 16px;
}

.boxes {
    display: flex;
    flex:auto;
    max-width: 150px;
    max-height: 150px;
}

